<!--Section: Pricing v.2-->
<div class="container">
    <section class="pb-3">

        <!--Section heading-->
        <h1 class="h1 pt-4">Nossos planos</h1>
        <!--Section description-->
        <p class="grey-text mb-5 mt-5 px-3">*Limite de crédito sujeito a análise.
            A isenção da anuidade do cartão é
            promocional por tempo indeterminado.
        </p>

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <!-- Card -->
                <div class="card card-image"
                    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(6).jpg');">

                    <!--Pricing card-->
                    <div
                        class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3">

                        <!--Content-->
                        <div class="card-body">
                            <h5>Free</h5>
                            <!--Price-->
                            <div class="price pt-0">
                                <h1>R$ 0/mês</h1>
                            </div>
                            <!--Price-->
                            <ul class="striped">
                                <li>
                                    <p><strong>Cartão de crédito Visa</strong></p>
                                </li>
                                <li>
                                    <p><strong>10</strong> transfêrencias</p>
                                </li>
                                <li>
                                    <p><strong>150</strong> comprovantes e extratos</p>
                                </li>
                                <li>
                                    <p><strong>200</strong> TED/DOCS</p>
                                </li>
                                <li>
                                    <p><strong>250</strong> messages</p>
                                </li>
                            </ul>
                            <div>
                                <a class="btn btn-outline-white"> Buy now</a>
                            </div>
                        </div>

                    </div>
                    <!--Pricing card-->
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <!-- Card -->
                <div class="card card-image"
                    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(4).jpg');">

                    <!--Pricing card-->
                    <div
                        class="text-white text-center pricing-card d-flex align-items-center rgba-indigo-strong py-3 px-3">

                        <!--Content-->
                        <div class="card-body">
                            <h5>Pro</h5>
                            <!--Price-->
                            <div class="price pt-0">
                                <h1>20</h1>
                            </div>
                            <!--Price-->
                            <ul class="striped">
                                <li>
                                    <p><strong>3</strong> projects</p>
                                </li>
                                <li>
                                    <p><strong>200</strong> transfêrencias</p>
                                </li>
                                <li>
                                    <p><strong>250</strong> comprovantes e extratos<p>
                                </li>
                                <li>
                                    <p><strong>300</strong> TED/DOCS</p>
                                </li>
                                <li>
                                    <p><strong>350</strong> messages</p>
                                </li>
                            </ul>
                            <div>
                                <a class="btn btn-outline-white"> Buy now</a>
                            </div>
                        </div>

                    </div>
                    <!--Pricing card-->
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <!-- Card -->
                <div class="card card-image"
                    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(6).jpg');">

                    <!--Pricing card-->
                    <div
                        class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3">

                        <!--Content-->
                        <div class="card-body">
                            <h5>Premium</h5>
                            <!--Price-->
                            <div class="price pt-0">
                                <h1>R$30/mês</h1>
                            </div>
                            <!--Price-->
                            <ul class="striped">
                                <li>
                                    <p><strong> Cartão platinum</strong></p>
                                </li>
                                <li>
                                    <p><strong>300</strong> transfêrencias</p>
                                </li>
                                <li>
                                    <p><strong>350</strong> comprovantes e extratos<p>
                                </li>
                                <li>
                                    <p><strong>400</strong> TED/DOCS</p>
                                </li>
                                <li>
                                    <p><strong>450</strong> messages</p>
                                </li>
                            </ul>
                            <div>
                                <a class="btn btn-outline-white"> Buy now</a>
                            </div>
                        </div>

                    </div>
                    <!--Pricing card-->
                </div>
            </div>
            <!--Grid column-->

        </div>
    </section>
</div>